<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>
<main>
  <h1>ROOMS</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <% rooms.forEach(r => { %>
        <tr>
          <td><%= r.name %></td>
          <td>
            <a href="/rooms/<%= r._id %> ">Details</a>
          </td>
        </tr>
        <% }) %>  
      </tbody><br>
    </table>
    <a href="/rooms/new"><i class="fas fa-sliders-h"></i>
    ADD NEW ROOM</a>
</main>

<%- include('../partials/footer') %>