<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1>ROOM DETAILS</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Reserved</th>
        <th>Smoking</th>
        <th>Instruments</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td><%= room.name %></td>
          <td><%= room.price %>$</td>
          <td><%= room.reserved %></td>
          <td><%= room.smoking %></td>
          <td><%= room.instruments %> </td>
        </tr>  
      </tbody>
      <% if (user) {%>
        <form 
          action="/rooms/<%= room._id %>/switch-reserved?_method=PATCH"
          method="POST"  
        >
          <button class="btn" type="submit">
            Make room <%= room.reserved ? "not reserved" : "reserved" %> 
          </button>
        </form>
        <form action="/rooms/<%= room._id %>/edit" method="GET">
          <button class="btn" type="submit">EDIT ROOM</button>
        </form>
        <form action="/rooms/<%= room._id %>?_method=DELETE" method="POST">
          <button class="btn" type="submit">DELETE ROOM</button>
        </form>
      </table>
      <% } %>
</main>

<%- include('../partials/footer') %>