<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1>ROOM DETAILS</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Reserved</th>
        <th>Smoking</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td><%= room.name %></td>
          <td><%= room.price %></td>
          <td><%= room.reserved %></td>
          <td><%= room.smoking %></td>
        </tr>
      </tbody>
    </table>
</main>

<%- include('../partials/footer') %>