<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <h1> STUDIO CERVINO </h1> 
    <%= user ? user.profile.name : "guest" %></h1><% if (user?.profile.avatar) { %>
    <div>
      <img 
        src="<%= user.profile.avatar %>" 
        alt="<%= user.profile.name %> avatar"
      >
    </div>
    <% } %>
    <h2>Fondato e creato da parte di Davide Mancini e soci, con sede a Torino. Sito creato da Sebastiano Foresi.</h2>
    <h3>FULL SITE COMING SOON</h3>

  </main>

<%- include('./partials/footer') %>
