<%- include("../partials/html-head") %>
<%- include("../partials/nav") %>

<section>
  <h2>INSTRUMENT & EQUIPMENT LIST</h2>
  <ul>
    <% instruments.forEach(instrument => { %>
      <li>
        <a href="/instruments/<%= instrument._id %>"><%= instrument.name %></a>
        is <%= instrument.reserved ? "reserved" : "not reserved" %>
      </li>
    <% }) %> 
  </ul>
</section>

<%- include("../partials/footer") %> 